* {
  outline: 1px solid red
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(rowsbackground.jpg);
  background-size: cover;
  background-position: center;
}

.beetimg{
cursor: pointer;
height: 200px;
width: 200px;
}

header {}

main {
  flex-grow: 1;
}

footer {}